<div class="row">
   <h3><a href="/blog"{{id}}>
    <h3>{{blog_name}}</h3>
    </a>
    </h3> 
    <p>{{description}}</p>
    <p>Posted by: {{user.username}} on {{format_date date_created}}.</p>
</div> 